<div class="container seeyou-image">
  <div class="row">
    <%= render "layouts/message" %>
    <%= render "public/searchs/search_customer" %>
  </div>
  <div class="row">
    <h5 class="col-md-4 my-5">退会手続き</h5>
  </div>
  <div class="row-10">
    <p class="col-md-8 shadow-sm m-3 mt-5 mx-auto">
      退会手続きをされますと、今までご利用されていたサービスがご利用いただけなくなります。 <br>
      再度ご利用いただく場合は新規登録のお手続きが必須となります。<br>
      退会してもよろしいですか？
    </p>
  </div>
  <div class="row">
    <%= link_to "退会する", withdrawal_path(@customer), method: :patch, class:"col-md-3" %>
    <%= link_to "退会しない",posts_path, class:"col-md-3" %>
  </div>
</div>