<section class="first-contact">
  <div class="container">
    <div class="row">
      <%= render "layouts/message" %>
    </div>
    <div class="row">
      <div class="col-lg-4 mt-5">
        <h4><strong>うちの和犬。</strong>へようこそ！</h4>
        <p class="mt-5">ここは日本犬を愛でる為のサイトです。</p>
        <p>あなたの飼っている日本犬を投稿し、</p>
        <p>また、他の人が飼っている日本犬が</p>
        <p>どのように過ごしているか見てみましょう。</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-5">
            <%= link_to "新規登録",new_customer_registration_path,class:"btn btn-success w-50" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <%= link_to "ログイン",new_customer_session_path,class:"btn btn-primary w-50" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <%= link_to "ゲストログイン",customers_guest_sign_in_path,class:"btn btn-secondary w-50", method: :post %>
        </div>
    </div>
  </div>
</section>