<section ="first-contact">
<div class="container">
  <div class="row">
      <div class="col-lg-5">
          <h4>うちの秋田犬。へようこそ！</h4>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3">
          <%= link_to "新規登録",new_customer_registration_path,class:"btn btn-success" %>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3">
          <%= link_to "ログイン",new_customer_session_path,class:"btn btn-primary" %>
      </div>
      <div class="col-md-3">
          <%= link_to "ゲストログイン（閲覧用）",customers_guest_sign_in_path,class:"btn btn-secondary", method: :post %>
      </div>
  </div>
</div>
</section>