@import '~bootstrap/scss/bootstrap';
// @import '~@fortawesome/fontawesome-free/css/all';

.first-contact {
  width: 100%;
  height: 750px;
  background-image: url("../images/akita-ged16c877c_1280.jpg");
  background-size: cover;
  background-position: center;
}

.post-image {
  // width: 325px;
  height: 300px;
  object-fit: cover;
}

.post-image-show {
  // width: 580px;
  // height: 700px;
  // object-fit: cover;
}

.post-index {
  height: 100px;
}


.field_with_errors {
  display: contents;
}

.profile_bar {
  width: 250px;
  // height: 700px;
}

.comments {
  width: 400px;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
 .pagination>.active>a {
   background: #008b8b;     /*背景の色を変える*/
   border-radius: 15px;     /*角を丸くする*/
 }

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.admin-profile_bar {
  width: 250px;
  height: 700px;
}