@import '~bootstrap/scss/bootstrap';
// @import '~@fortawesome/fontawesome-free/css/all';

.first-contact {
  width: 100%;
  height: 750px;
  background-image: url("../images/akita-ged16c877c_1280.jpg");
  background-size: cover;
  background-position: center;
}

body {
  cursor: url("../images/nikukyuu.png"),auto;
}

main {
  background-image: url("../images/3027637_m.jpg");
  background-size: cover;
  width: 100%;
  background-position: center;
}

.bg-color {
  background-color: #ffffff;
  min-height: 90vh;
}

.m-left {
  margin-left: 113px;
}

.m-top {
  margin-top: 9rem;
}

.notice {
  background-color:#fef4f4;
}

.alert {
  background-color:#d7003a;
}

.post-image {
  height: 300px;
  object-fit: cover;
}

.post-index {
  height: 100px;
}


.field_with_errors {
  display: contents;
}

.profile_bar {
  width: 250px;
}

.comments {
  width: 400px;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.admin-profile_bar {
  width: 250px;
  height: 700px;
  object-fit: cover;
}

.profile-image {
  height: 300px;
  object-fit: cover;
}

.btn-color {
  background-color:#e6cde3;
}

.btn-color-posts {
  background-color:#eebbcb;
}

.search_form {
  display: flex;
  justify-content: flex-end;
}

.fa-comment-dots {
  color:#a0d8ef;
}

.pink-heart {
  color:#e95295;
}

.bleu-heart {
  color:#c0c6c9;
}

.btn-edit {
  background-color:#38b48b;
  color:#ffffff;
  position: relative;
  bottom: 10px;
  left: 70px;
}

.btn-destroy {
  background-color:#ba2636;
  color:#ffffff;
  position: relative;
  bottom: 10px;
  left: 80px;
}

.btn-comment-destroy {
  background-color:#ba2636;
  color:#ffffff;
}

.seeyou-image {
  background-image: url("../images/22950051_m.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover;
}

.seeyou-text {
  background-color: rgba( 0, 0, 0, 0.5);
  height: 90vh;
}

.btn-withdrawal {
  background-color:#a22041;
}

.btn-no-withdrawal {
  background-color:#f19ca7;
}