<% if flash[:notice] %>
  <div class="col-md-6 offset-md-2 text-success mt-3">
    <%= notice %>
  </div>
<% else %>
  <div class="col-md-6 offset-md-2 text-danger mt-3">
    <%= alert %>
  </div>
<% end %>